$backgound: #121212!important;
$text: rgb(170,170,170)!important;
$text-highlight: rgb(255,255,255)!important;
$popup-background: rgba(33,33,33,.98)!important;
$popup-hover: rgba(255,255,255,.1)!important;
$none: none!important;
$sidebar: #191919!important;