/*! ==UserStyle==
@name         [[THEME]]
@namespace    PhongGuy
@author       PhongGuy
@version      0.0.0
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/[[NAME]].user.css
==/UserStyle== */
@-moz-document domain("[[DOMAIN]]") {
  $background: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-strong: rgb(210,210,210)!important;
  $text-highlight: rgb(255,255,255)!important;
  $card: #484848!important;
  $none: none!important;
  $sidebar: #191919!important;

  body {
    background: $background;
    color: $text;
  }

  li,
  p {
    color: $text;
  }

  strong {
    color: $text-strong;
  }

  a[href]:hover,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-highlight;
  }

}
