/*! ==UserStyle==
@name         amazon.de Dark
@namespace    PhongGuy
@author       PhongGuy
@version      0.0.3
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/amazon.de-dark.user.css
==/UserStyle== */
@-moz-document domain("amazon.de") {
   @import '../helpers/roboto-font';

  $background: #121212!important;
  $db1: #1e1e1e!important;
  $db2: #222222!important;
  $db3: #242424!important;
  $db4: #262626!important;
  $db6: #2c2c2c!important;
  $db8: #2d2d2d!important;
  $db12: #323232!important;
  $db16: #353535!important;
  $db24: #383838!important;

  $primary: #3949ab!important;
  $secondary: #0277bd!important;
  $error: #f44336!important;

  $input: rgba(255, 255, 255, .07)!important;

  // When light text appears on dark backgrounds (shown here as white on black) it should use the following opacity levels:
  $text-high-emphasis: rgba(255, 255, 255, .87)!important;
  $text-medium-emphasis: rgba(255, 255, 255, .60)!important;
  $text-disabled: rgba(255, 255, 255, .38)!important;

  #accountMenu-container #accountMenu-canvas,
  #accountMenu-container #hmenu-canvas,
  #hmenu-container #accountMenu-canvas,
  #hmenu-container #hmenu-canvas,
  #pageContent,
  body,
  html {
    background: $background;
    color: $text-medium-emphasis;
  }

  #accountMenu-container #accountMenu-canvas #accountMenu-content ul.hmenu li a,
  #accountMenu-container #accountMenu-canvas #accountMenu-content ul.hmenu li a:hover,
  #accountMenu-container #accountMenu-canvas #accountMenu-content ul.hmenu li a:visited,
  #accountMenu-container #accountMenu-canvas #hmenu-content ul.hmenu li a,
  #accountMenu-container #accountMenu-canvas #hmenu-content ul.hmenu li a:hover,
  #accountMenu-container #accountMenu-canvas #hmenu-content ul.hmenu li a:visited,
  #accountMenu-container #hmenu-canvas #accountMenu-content ul.hmenu li a,
  #accountMenu-container #hmenu-canvas #accountMenu-content ul.hmenu li a:hover,
  #accountMenu-container #hmenu-canvas #accountMenu-content ul.hmenu li a:visited,
  #accountMenu-container #hmenu-canvas #hmenu-content ul.hmenu li a,
  #accountMenu-container #hmenu-canvas #hmenu-content ul.hmenu li a:hover,
  #accountMenu-container #hmenu-canvas #hmenu-content ul.hmenu li a:visited,
  #hmenu-container #accountMenu-canvas #accountMenu-content ul.hmenu li a,
  #hmenu-container #accountMenu-canvas #accountMenu-content ul.hmenu li a:hover,
  #hmenu-container #accountMenu-canvas #accountMenu-content ul.hmenu li a:visited,
  #hmenu-container #accountMenu-canvas #hmenu-content ul.hmenu li a,
  #hmenu-container #accountMenu-canvas #hmenu-content ul.hmenu li a:hover,
  #hmenu-container #accountMenu-canvas #hmenu-content ul.hmenu li a:visited,
  #hmenu-container #hmenu-canvas #accountMenu-content ul.hmenu li a,
  #hmenu-container #hmenu-canvas #accountMenu-content ul.hmenu li a:hover,
  #hmenu-container #hmenu-canvas #accountMenu-content ul.hmenu li a:visited,
  #hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li a,
  #hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li a:hover,
  #hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li a:visited,
  .a-checkbox label,
  .a-color-secondary,
  .a-color-tertiary,
  .a-radio label,
  a,
  li,
  p,
  span {
    color: $text-medium-emphasis;
  }

  #hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li .hmenu-item.hmenu-title,
  a[href]:hover,
  b,
  strong {
    color: $text-high-emphasis;
  }

  .a-color-base,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-high-emphasis;
  }

  input,
  textarea {
    background: $input;
    color: $text-high-emphasis;
    border: none !important;
  }

  select,
  select option {
    background: rgb(35, 35, 35);
    color: $text-high-emphasis;
    border: none !important;
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #909090 14%,#909090 64%);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #606060 14%,#606060 64%);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  // background db1
  .a-box,
  .a-box .a-divider.a-divider-break h5,
  .a-color-base-background .a-divider.a-divider-break h5,
  .a-divider.a-divider-break h5,
  .gw-card-layout .a-cardui,
  .gw-card-layout .desktop-row > div,
  html:not(.a-touch) #hmenu-container #hmenu-canvas #hmenu-content ul.hmenu li a.hmenu-item:hover {
    background: $db1;
    color: $text-medium-emphasis;
  }

  // background db4
  .a-box.a-color-alternate-background,
  .a-box.a-color-offset-background {
    background: $db4;
    color: $text-medium-emphasis;
  }

  // border and box-shadow none
  .a-box {
    border: none !important;
    box-shadow: none !important;
  }

  // background transparent
  .a-box .a-divider.a-divider-section .a-divider-inner:after,
  .a-color-base-background .a-divider.a-divider-section .a-divider-inner:after,
  .a-divider.a-divider-section .a-divider-inner:after {
    background: transparent !important;
  }

  .a-button {
    background: $db6;

    .a-button-inner {
      background: transparent !important;

      &:hover .reorder-modal-trigger-icon {
        transition: transform .7s ease-in-out;
        transform: rotate(-360deg);
      }
    }
  }

  .a-button {
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f !important;
    border: none !important;
  }

  .a-button-primary {
    background: $primary;
  }

  .a-carousel-card-empty {
    filter: invert(.93);
  }

  .a-icon,
  .reorder-modal-trigger-icon {
    filter:invert(1);
  }

  .item-view-qty {
    background: $secondary;
    font-size: 12px;
    font-weight: bold;
    border: none;
  }

  .alm-grid-desktop-grid-container > div,
  .alm-grid-desktop-grid-container > div > div {
    background: $db1;
  }
}
