/*! ==UserStyle==
@name         etf2l.org Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.20
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/etf2l.org-dark.user.css
==/UserStyle== */
@-moz-document domain("etf2l.org") {
   @import '../helpers/roboto-font';

  $background: #121212!important;
  $surface: #1d1d1d!important;

  $primary: #3f51b5!important;
  $secondary: #ff4081!important;
  $error: #f44336!important;

  $input: rgba(255, 255, 255, .07)!important;

  // When light text appears on dark backgrounds (shown here as white on black) it should use the following opacity levels:
  $text-high-emphasis: rgba(255, 255, 255, .87)!important;
  $text-medium-emphasis: rgba(255, 255, 255, .60)!important;
  $text-disabled: rgba(255, 255, 255, .38)!important;

  body {
    & > #wpadminbar {
      background: transparent;
      min-width: auto;
      right: 0;
      left: auto;
      width: auto;

      #wp-admin-bar-search {
        form:not(.adminbar-focused) input {
          background: transparent!important;
        }
      }

      #wp-admin-bar-root-default {
        display: none!important;
      }
    }

    & > #wpwrap {
      #wp-admin-bar-site-name .ab-sub-wrapper,
      #wp-admin-bar-wp-logo {
        display: none;
      }
    }
  }

  #commentform input,
  #commentform textarea,
  #rs-discuss .post-block,
  #rs-discuss .post-block-odd,
  .commentlist li,
  body {
    font-size: 12.5px;
  }

  #rs-discuss .cell-activity,
  #rs-discuss .cell-description,
  #rs-discuss .cell-name span.desc,
  #rs-discuss .cell-ractivity,
  #rs-discuss .cell-recent,
  #rs-discuss .fix,
  #rs-discuss .page-list,
  #rs-discuss th,
  .calendar,
  .commentmetadata,
  .cup,
  .fix,
  .postmeta,
  .small,
  div.rec_search_filter,
  p.div,
  table.tablesorter {
    font-size: 11px;
  }

  div.rec_search {
    width: 115px;
  }

  #perldoc,
  body {
    background: $background;
    color: $text-medium-emphasis;
    box-shadow: none;
  }

  li,
  p {
    color: $text-medium-emphasis;
  }

  b,
  strong {
    color: $text-high-emphasis;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-high-emphasis;
    font-weight: 600;
  }

  input,
  textarea {
    background: $input;
    color: $text-high-emphasis;
    border: none !important;
    font-size: 11.5px!important;
  }

  select {
    background: rgb(35, 35, 35);
    color: $text-high-emphasis;
    border: none !important;
    outline: none;
  }

  #sidebarHeader input {
    background: rgba(0, 0, 0, .5)!important;
    width: 141px;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #909090 14%,#909090 64%);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #606060 14%,#606060 64%);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  #content,
  #footer,
  #sidebars,
  .fix,
  .post-wrapper,
  .rec {
    background: $background;
    border: none!important;
  }

  #Nav {
    background: $surface;
    border: none!important;

    & ul > li {
      z-index: 1;

    }

    .current-menu-item,
    .current-menu-parent {
      border-bottom: 1px solid orange;
    }

    .sub-menu {
      border: none;
      z-index: -1;
      -webkit-box-shadow: 0 10px 15px 0 #000000;
      box-shadow: 0 10px 15px 0 #000000;
    }

    ul a {
      background: $surface;
    }
  }

  .fix tr.comp td,
  .fix tr.thistory td {
    background: $surface;
    border-color: rgba(255, 255, 255, .03);
    cursor: pointer;

    img {
      filter: invert(1);
    }
  }

  .ui-widget-content {
    background: $surface;
    color: $text-medium-emphasis;

    button {
      background: $primary;
      color: $text-high-emphasis;
      border: none!important;
    }
  }

  #eventcontent,
  .breadcrumbs,
  .post-block,
  .postbox,
  .postmeta {
    background: $surface;
    border: none!important;
  }

  .widefat {
    background: $background;
    border: none !important;

    th {
      background: $surface;
      color: $text-medium-emphasis;
    }

    td {
      background: $surface;
      color: $text-medium-emphasis;
    }

    tr:nth-child(even) td {
      background: rgb(40, 40, 40)!important;
    }
  }

  .widget_table {
    width: 100%;

    tr:nth-child(even) td {
      background: rgba(255, 255, 255, .05) !important;
    }

    a > strong {
      color: #0073aa!important;
    }
  }

  .tablesorter {
    background: $background;
    border: none !important;

    th {
      background: $surface;
      border: none !important;
    }

    td {
      background: $background;
      color: $text-medium-emphasis;
    }

    tr:nth-child(even) td {
      background: rgba(255, 255, 255, .0169)!important;
    }
  }

  .table-list {
    background: $background;
    border: none !important;

    th {
      background: $surface;
      border: none !important;
    }

    .category {
      background: $surface;
      border: none !important;
      font-weight: 600;
    }

    tbody:nth-child(even) {
      background: rgba(255, 255, 255, .0169)!important;
    }

    tbody:nth-child(odd) {
      background: $background;
    }
  }

  .fix tr td,
  .fix tr th {
    background: rgba(255, 255, 255, .0169);
  }

  #activity-widget #the-comment-list .comment-item,
  .fix td.fix_title,
  .fix tr.fix_title td,
  .fix tr.fix_title th,
  blockquote {
    background: $surface;
    color: $text-medium-emphasis;
  }

  #eventtabs {
    border: none!important;

    a {
      background: $surface;
    }

    .active a {
      border-bottom: 1px solid orange;
      top: auto;
    }
  }

  .cleft {
    border-left: 1px solid #fff;
  }

  .ctop {
    border-top: 1px solid #fff;
  }

  #sidebarHeader h2,
  h2 {
    border-bottom: 1px #fff solid;
  }

  #wrapper {
    top: -32px;
  }

  #contextual-help-link-wrap,
  #screen-options-link-wrap,
  #themeSwitcher,
  #update-nag,
  .update-nag {
    display: none;
  }

  .page-numbers {
    padding: 2px;
  }

  a[href] > strong {
    color: #da790b!important;
    text-decoration: none;
  }

  a:hover > strong {
    color: #e68624!important;
    text-decoration: none;
  }

  .form-table th,
  .form-wrap label {
    color: $text-medium-emphasis;
  }

  .notice,
  div.error,
  div.updated {
    background: $surface;
  }

  .parsley-error,
  .red {
    background: rgba(255, 0, 0, .35)!important;
  }

  .active,
  .parsley-success {
    background: rgba(0, 255, 0, .35)!important;
  }

  .parsley-error-list {
    .min,
    .required {
      color: orange!important;
    }
  }
}
