/*! ==UserStyle==
@name         etf2l.org Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.1
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/etf2l.org-dark.user.css
==/UserStyle== */
@-moz-document domain("etf2l.org") {
  $background: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-strong: rgb(210,210,210)!important;
  $text-highlight: rgb(255,255,255)!important;
  $card: #484848!important;
  $none: none!important;
  $sidebar: #191919!important;
  $blockquote: #1b1b1b!important;
  $form-input: #262626!important;

  #content,
  #footer,
  #rs-discuss .fix,
  #sidebars,
  #wrapper,
  .fix,
  body,
  div.rec,
  div.rec_search,
  table.tablesorter tbody td,
  ul#eventtabs li a {
    background: $background;
    color: $text;
    border: $none;
  }

  li,
  p {
    color: $text;
  }

  b,
  strong {
    color: $text-strong;
  }

  a[href]:hover,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul#eventtabs li.active a {
    color: $text-highlight;
  }

  #sidebarHeader h2,
  h2 {
    border-bottom: 1px #fff solid;
  }

  #update-nag,
  .update-nag,
  blockquote,
  div#eventcontent,
  table.tablesorter tfoot tr th,
  table.tablesorter thead tr th,
  ul#eventtabs li a {
    background: $blockquote;
  }

  ul#eventtabs li a {
    border-radius: 6px 6px 0 0;
  }

  table.tablesorter {
    border: $none;
  }

  .form-table th,
  .form-wrap label {
    color: $text;
  }

  .postbox {
    background: $card;
    color: $text;
    border: $none;
  }

  input,
  select,
  textarea {
    background: $form-input;
    color: $text;
    border: $none;
  }

  table.widefat {
    border: $none;
    background-color: #212121;

    .alternate,
    td,
    th {
      color: $text;
      background-color: #212121;
    }
  }

  .widefat tr:nth-child(even) {
    background-color: #212121;
  }

  ul#Nav {
    border: $none;
    background: $background;

    .current-menu-item,
    .current-menu-parent {
      border-bottom: 1px solid orange;
    }
  }

  #header {
    background: $background;
    height: 150px;

    #themeSwitcher {
      display: $none;
    }
  }

  .fix td.fix_title,
  .fix tr td,
  .fix tr th,
  .fix tr.fix_title td,
  .fix tr.fix_title th {
    background: $background;
  }

  .fix tr:nth-child(odd) {
    background: #1c1c1c;
  }
}
