/*! ==UserStyle==
@name         Logs.tf Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.1.4
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/logs.tf-dark.user.css
==/UserStyle== */
@-moz-document domain("logs.tf") {
   @import '../helpers/roboto-font';

  .dropdown-menu .divider,
  .popover hr {
    display: none!important;
  }

  body {
    font-family: Roboto, Arial, sans-serif;
  }

  .btn,
  .pagination ul > li > a,
  a.rating:hover span.tooltip,
  body {
    color: rgb(170,170,170);
  }

  .btn:hover,
  .log td a,
  .log-header,
  .modal-header,
  .nav > li > a:hover,
  .popover-title {
    color: rgb(220,220,220);
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover,
  .pagination ul > li > span,
  button.close,
  input,
  select,
  textarea {
    color: #fff!important;
  }

  .controls,
  .log-header,
  .log-section:nth-child(even),
  .main,
  body {
    background: #121212;
  }

  .controls,
  .events,
  .footer,
  .log-header,
  .modal,
  .modal-header,
  .nav-tabs > li > a,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover,
  .pagination ul > li > a,
  .pagination ul > li > span,
  .popover-title,
  .topbar,
  .welcome,
  a.rating:hover span.tooltip,
  input,
  select,
  textarea {
    border: none!important;
  }

  .sellout {
    width: 0!important;
  }

  .popover-title {
    background-color: #1a1a1a;
  }

  .btn,
  a.rating:hover span.tooltip,
  input,
  select,
  textarea {
    background-color: #333333!important;
  }

  .welcome {
    background: none;
    color: #EFEFEF;
    height: 115px;
  }

  .dropdown-menu,
  .expanded,
  .log tbody > tr:nth-child(odd),
  .loglist tbody > tr:nth-child(odd),
  .modal,
  .nav > li > a:hover,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover,
  .pagination ul > li > a,
  .pagination ul > li > span,
  .popover,
  .topbar {
    background: #1b1b1b !important;
  }

  .popover-title {
    font-weight: 600;
  }

  .log-section {
    border-bottom: 1px solid #343434;
  }

  input[type="checkbox"]:focus,
  input[type="file"]:focus,
  input[type="radio"]:focus,
  select:focus {
    outline: none;
  }

  .highlight {
    background: #3a3a3a !important;
  }

  .dropdown,
  .dropup {
    display: inline-flex;

    .rating {
      margin-left: 10px;
    }
  }

  .table-players {
    width: 100%;
  }

  .log-classes.classes {
    display: flex;
  }
}
