/*! ==UserStyle==
@name         Material.io Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.1
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/material.io-dark.user.css
==/UserStyle== */
@-moz-document domain("material.io") {
  .learn-more,
  .main-container,
  .mdc-drawer,
  body,
  mio-footer {
    color: #fff!important;
    background-color: #212121!important;
  }

  button:hover,
  mio-link:hover {
    color: #fff!important;
  }

  .header-item-title,
  .header-title-secondary,
  .header-title-text,
  .overline,
  .section,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(220,220,220)!important;
  }

  .icon-item-title,
  a,
  button,
  figcaption,
  mio-compile-component mio-list,
  mio-compile-component mio-table,
  mio-link,
  p {
    color: rgb(170,170,170)!important;
  }

  mio-article-page-contents {
    background-color: #212121!important;
  }

  .article-nav--selected {
    border-left: 2px solid #878787!important;
  }

  .mdc-ripple-surface:hover::before {
    opacity: .14;
  }
}
