/*! ==UserStyle==
@name         podcasts.google.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.0
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/podcasts.google.com-dark.user.css
==/UserStyle== */
@-moz-document domain("podcasts.google.com") {
  $backgound: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;
  $none: none!important;
  $sidebar: #191919!important;

  body {
    background-color: $backgound;
    background: $backgound;
    color: $text;
  }

  .BhVIWc,
  .gb_Cc,
  .gb_Ec.gb_Cc.gb_Jc.gb_ma,
  .gb_Ld.gb_5d.gb_Ud,
  .p6eBid,
  .voeS2b,
  .zJw79d {
    background-color: $popup-background;
    color: $text;
  }

  .gb_Ve {
    background: $popup-hover;
    color: $text-highlight;
  }

  .KL4X6e {
    background: $backgound;
  }

  .BpVHBf,
  .DPvwYc,
  .JSLBqe,
  .Mji2k,
  .OTAikb,
  .QpaWg,
  .TvLR0 .BpVHBf,
  .WRLHVd,
  .fIqyif,
  .gUJ0Wc,
  .jcGgqc,
  .oFMWrf,
  .yJLqZc,
  .z80M1,
  .z80M1.N2RpBe::before,
  [role="presentation"] {
    color: $text;
  }

  .JSLBqe:hover,
  .YDJ1Jc:hover,
  .ZTClBb,
  .ZfMIwb,
  .ZhPnbc,
  .a5ZoJ,
  .eI5bkf,
  .eWeGpe,
  .fIqyif:hover,
  .gUJ0Wc:hover,
  .gb_Cc .gb_7d,
  .gb_Zc .gb_7d,
  .jcGgqc:hover,
  .k2p4Ef,
  .oFMWrf:hover,
  .tsXz9,
  .wv3SK,
  .zA7zEe,
  [role="navigation"],
  [role="navigation"] > div:first-child,
  [type="text"] {
    color: $text-highlight;
  }
}
