/*! ==UserStyle==
@name         pricerunner.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.2
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/pricerunner.com-dark.user.css
==/UserStyle== */
@-moz-document domain("pricerunner.com"),domain("pricerunner.dk"),domain("pricerunner.se") {
   @import'../helpers/roboto-font';

  $background: #121212!important;
  $surface: #1d1d1d!important;

  $primary: #3f51b5!important;
  $secondary: #ff4081!important;
  $error: #f44336!important;

  $input: rgba(255, 255, 255, .07)!important;

  // When light text appears on dark backgrounds (shown here as white on black) it should use the following opacity levels:
  $text-high-emphasis: rgba(255, 255, 255, .87)!important;
  $text-medium-emphasis: rgba(255, 255, 255, .60)!important;
  $text-disabled: rgba(255, 255, 255, .38)!important;

  body {
    background: $background;
    // color: $text-medium-emphasis;
  }

  li,
  p {
    color: $text-medium-emphasis;
  }

  b,
  strong {
    color: $text-high-emphasis;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-high-emphasis;
  }

  input,
  textarea {
    background: $input;
    color: $text-high-emphasis;
    border: none !important;
  }

  :root {
    --background-page: #121212;
    --background-primary: #1d1d1d;
    --background-content-primary: #1d1d1d;
    --background-secondary: #121212;
    --ribbon-product-background: rgba(255, 255, 255, 0.1);
    --background-content-secondary: rgba(255, 255, 255, 0.1);

    //band colors
    --brand10: #121212;
    --brand40: #eb145f;

    // hover
    --background-primary-hover: rgba(255,255,255,0.1);
    --background-secondary-hover: rgba(255,255,255,0.1);

    // text stuff
    --text-primary: rgba(255, 255, 255, .87);
    --text-secondary: rgba(255, 255, 255, .60);

    // dont show this shit
    --border20: transparent;
    --border40: transparent;
    --border60: transparent;

    // gray scales
    --grayscale10: rgba(255,255,255,0.1);
    --grayscale20: rgba(255,255,255,0.2);
    --grayscale30: rgba(255,255,255,0.3);
    --grayscale40: rgba(255,255,255,0.4);
    --grayscale60: rgba(255,255,255,0.6);
    --grayscale80: rgba(255,255,255,0.8);
    --grayscale100: rgb(255,255,255);

    //shadows
    --shadow-primary: rgb(0, 0, 0);
  }

  a,
  button {
    color: $text-medium-emphasis;

    &:hover {
      color: $text-high-emphasis;
    }
  }

  div[role="list"] button {
    border: none !important;

    & > div::before {
      border-bottom: 120px solid #1d1d1d;
    }
  }

  // rect {

  // }
}
