/*! ==UserStyle==
@name         rank.tf Dark
@namespace    PhongGuy
@author       PhongGuy
@version      0.0.0
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/rank.tf-dark.user.css
==/UserStyle== */
@-moz-document domain("rank.tf") {
  $background: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $strong: #efefef!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;
  $none: none!important;
  $sidebar: #191919!important;

  .table,
  .table.is-striped tbody tr:not(.is-selected):nth-child(even),
  body,
  html,
  tbody {
    background: $background;
    color: $text;
  }

  #loading_screen,
  .navbar,
  .navbar-dropdown,
  .navbar-item {
    background: $sidebar;
    color: $text;
  }

  .navbar-link {
    color: $text;

    &:hover {
      color: $text-highlight;
    }
  }

  .input,
  .select select,
  .textarea {
    border: $none;
    background: $popup-background;
    color: $text-highlight;
  }

  strong {
    color: $strong;
  }

  .pagination-link,
  .pagination-next,
  .pagination-previous {
    border: $none;
    color: $text-highlight;
  }

  .card-header-title,
  .title,
  a[href]:hover,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th {
    color: $text-highlight;
  }

  [src="/img/class_demo.png"],
  [src="/img/class_engie.png"],
  [src="/img/class_heavy.png"],
  [src="/img/class_medic.png"],
  [src="/img/class_pocket.png"],
  [src="/img/class_pyro.png"],
  [src="/img/class_roamer.png"],
  [src="/img/class_scout.png"],
  [src="/img/class_sniper.png"],
  [src="/img/class_soldier.png"],
  [src="/img/class_spy.png"],
  [src="/img/logo_symbol_black.png"],
  [src="img/class_demo.png"],
  [src="img/class_engie.png"],
  [src="img/class_heavy.png"],
  [src="img/class_medic.png"],
  [src="img/class_pocket.png"],
  [src="img/class_pyro.png"],
  [src="img/class_roamer.png"],
  [src="img/class_scout.png"],
  [src="img/class_sniper.png"],
  [src="img/class_soldier.png"],
  [src="img/class_spy.png"] {
    filter: invert(1);
  }

  .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background: none;
  }

  .card {
    background: #191919;
    color: $text;
  }
}
