/*! ==UserStyle==
@name         Tf2center.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.81
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/tf2center.com-dark.user.css

@advanced dropdown ranbow-button  "Rainbow create" {
  Yes "Yes" <<<EOT
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #ff6666, #6666ff, #df00ff, #b8bd03);
  animation: rainbow_animation 10s ease-in-out infinite;
  background-size: 9999px; EOT;
  No "No" <<<EOT
  background: #b030b7; EOT;
}

@advanced dropdown show-one-star  "Only show one star, if you have tf2 helper enabled" {
  No "No" <<<EOT
   EOT;
  Yes "Yes" <<<EOT
      width: 12px; EOT;
}

@advanced dropdown blink-mumble  "Blink mumble icon if mumble required" {
  Yes "Yes" <<<EOT
      -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    -ms-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;
     EOT;
  No "No" <<<EOT
   EOT;
}
==/UserStyle== */
@-moz-document domain("tf2center.com") {
   @import '../helpers/roboto-font';
  @import '../helpers/blink-effect';

  .rating-static {
    /*![[show-one-star]]*/
    display: inline-block;
  }

  .mumbleReq {
    /*![[blink-mumble]]*/
    display: inline-block;
  }

  .btn.createLobby,
  .btn.createLobby:hover {
    /*![[ranbow-button]]*/
    box-shadow: none;
    text-shadow: none;
  }
  @keyframes rainbow_animation {
    0%,
    100% {
      background-position: 0 0;
    }

    50% {
      background-position: 100% 0;
    }
  }

  #mainHeader .classImage,
  ._containerHor,
  .backgroundLeft,
  .backgroundMain,
  .footerLollychop,
  .launchStatus .spacer,
  .lobbyVoteCreate .iconContainer,
  .speechBubble,
  body > span {
    display: none!important;
  }

  body > div {
    margin-top: 0 !important;
  }

  #info-bar ul li,
  .lobbyHeaderOptions,
  .lobbyHeaderOptions a,
  .lobbyHeaderOptions a:visited,
  .playerTopMenu ul a,
  .playerTopMenu ul a:visited,
  .playerTopName,
  .siteTopMenu .dropdownMenu a,
  .siteTopMenu .dropdownMenu a.current,
  .siteTopMenu .dropdownMenu a:active,
  .siteTopMenu .dropdownMenu a:focus,
  .siteTopMenu .dropdownMenu a:hover,
  .siteTopMenu .dropdownMenu a:visited,
  body {
    color: rgb(170,170,170)!important;
  }

  #mainHeader h1,
  #mainHeader h2,
  #mainHeader h3,
  #mainHeader h4 {
    color: rgb(220,220,220)!important;
  }

  .playerTopMenu ul a:active,
  .playerTopMenu ul a:focus,
  .playerTopMenu ul a:hover,
  .siteTopMenu .dropdownMenu a:active,
  .siteTopMenu .dropdownMenu a:focus,
  .siteTopMenu .dropdownMenu a:hover,
  .siteTopMenu a.current,
  .siteTopMenu a:active,
  .siteTopMenu a:focus,
  .siteTopMenu a:hover {
    color: #fff!important;
  }

  #info-bar .active,
  #info-bar .launchStatus div,
  #info-bar ul li,
  #mainHeader,
  #nav-bar,
  .lobbyHeaderOptions tr,
  .lobbyOverviewPanel,
  .lobbyOverviewPanel.manual:hover,
  .lobbySubClass #drop_menu1,
  .lobbySubPanel,
  .lobbySubPanel.manual .lobbyRegion,
  .notificationButton,
  .playerTopMenu,
  .playerTopMenu ul a,
  .playerTopMenu ul span,
  .siteTopMenu .dropdownMenu,
  .siteTopMenu a,
  .siteTopMenu a:visited,
  .ui-tooltip,
  footer {
    border: none!important;
  }

  #drop_menu1,
  #nav-bar,
  .notificationButton,
  .playerTopMenu,
  .playerTopMenu ul a:active,
  .playerTopMenu ul a:focus,
  .playerTopMenu ul a:hover,
  .siteTopMenu .dropdownMenu,
  .siteTopMenu a.active,
  .siteTopMenu a:active,
  .siteTopMenu a:focus,
  .siteTopMenu a:hover,
  a.getQuickHelp,
  a.getQuickHelp:visited {
    background-color: #262525!important;
  }

  #mainHeader,
  .lobbyHeaderOptions .getQuickHelp {
    background-color: #2c2c2c;
  }

  .logoTop img {
    filter: invert(100%);
  }

  .playerTopName,
  body,
  html {
    font-family: Roboto, monospace!important;
  }

  #info-bar,
  #info-bar .active,
  #info-bar .friendsOnline:hover,
  #info-bar .gameType:hover,
  #info-bar .launchStatus div,
  #info-bar .lobbyMap:hover,
  #info-bar .lobbyRegion:hover,
  #info-bar .lobbyRequirements:hover,
  #info-bar .playersOnline:hover {
    background: #262626!important;
    background-color: #262626!important;
  }

  ._containerHor,
  ._containerVer,
  ._containerVerRight,
  footer {
    background-color: #1b1b1b;
  }

  .mainbox {
    background-color: #1e1e1e;
  }

  #info-bar .launchStatus div.done {
    background-color: rgb(28, 174, 101)!important;
  }

  .lobbyHeaderID {
    font-size: 23px;
  }

  #mainHeader .manual,
  .lobbyOverviewPanel.manual .joinLobby,
  .lobbyOverviewPanel.manual .lobbyID,
  .lobbySubPanel.manual .joinSub {
    background-color: #1bae65!important;
  }

  .ui-tooltip {
    background-color: #403d3d;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
  }

  .btn.createLobby .iconContainer {
    border-right: 1px solid #dcdcdc;
  }

  .lobbyOverviewPanel.manual .lobbyID {
    font-size: 10px;
  }

  .joinSub {
    height: 31px;
  }

  .lobbyOverviewPanel .joinLobby,
  .lobbyOverviewPanel .mapThumb img {
    height: 75px;
  }

  .joinSub,
  .lobbyOverviewPanel.manual .joinLobby {
    box-shadow: none!important;
  }

  #info-bar .launchStatus div {
    color: inherit;
  }

  .lobbyVoteCreate > h1,
  .lobbyVoteCreate > h3 {
    font-weight: 600!important;
  }

  .lobbyVoteCreate .label {
    margin-left: 0 !important;
  }

  .lobbyVoteCreate .label:after {
    content: " lobby";
  }
}
