/*! ==UserStyle==
@name         toornament.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.1
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/toornament.com-dark.user.css
==/UserStyle== */
@-moz-document domain("toornament.com"), domain("account.toornament.com") {
  $backgound: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;
  $none: none!important;
  $sidebar: #191919!important;

  .form-row .checkbox-field input + label,
  .match.format-row > .context > :first-child,
  .match.format-row > .schedule,
  .participant.format-box > .identity > .name {
    color: $text;
  }

  .logo.toornament.format-standard a {
    background: url("https://www.toornament.com/asset/logo/toornament/toornament-inverted.svg?845753715") center center no-repeat;
    background-size: contain;
  }

  .discipline.format-box > .caption,
  .form-row .form-label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-highlight;
  }

  .layout-auth,
  .layout-auth > .layout-section > .layout-block.separator > .belt > .buckle,
  .layout-front .layout-section.content {
    background: $backgound;
    color: $text;
  }

  .layout-front .layout-section .layout-block.nav {
    background-color: $popup-hover;
  }

  .card,
  .card .card-header,
  .card-browse,
  .discipline.format-box,
  .form-row .form-field > input:not([type]),
  .form-row .form-field > input[type="color"],
  .form-row .form-field > input[type="date"],
  .form-row .form-field > input[type="datetime"],
  .form-row .form-field > input[type="datetime-local"],
  .form-row .form-field > input[type="email"],
  .form-row .form-field > input[type="month"],
  .form-row .form-field > input[type="number"],
  .form-row .form-field > input[type="password"],
  .form-row .form-field > input[type="search"],
  .form-row .form-field > input[type="tel"],
  .form-row .form-field > input[type="text"],
  .form-row .form-field > input[type="time"],
  .form-row .form-field > input[type="url"],
  .form-row .form-field > input[type="week"],
  .form-row .form-field > textarea,
  .match.format-row,
  .participant.format-box,
  .showcase .card-showcase,
  .structure-group.format-mini,
  .structure-stage.format-mini {
    background-color: $popup-background;
    border: $none;
    color: $text;
  }

}
