/*! ==UserStyle==
@name         vault.bitwarden.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      0.0.3
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/vault.bitwarden.com-dark.user.css
==/UserStyle== */
@-moz-document domain("vault.bitwarden.com") {
   @import'../helpers/roboto-font';

  $background: #121212!important;
  $surface: #1d1d1d!important;

  $primary: #175DDC!important;
  $secondary: #ff4081!important;
  $error: #f44336!important;

  $input: rgba(255, 255, 255, .07)!important;

  // When light text appears on dark backgrounds (shown here as white on black) it should use the following opacity levels:
  $text-high-emphasis: rgba(255, 255, 255, .87)!important;
  $text-medium-emphasis: rgba(255, 255, 255, .60)!important;
  $text-disabled: rgba(255, 255, 255, .38)!important;

  body {
    background: $background;
    color: $text-medium-emphasis;
  }

  li,
  p {
    color: $text-medium-emphasis;
  }

  b,
  strong {
    color: $text-high-emphasis;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-high-emphasis;
  }

  .form-control,
  input,
  textarea {
    background: $input;
    color: $text-high-emphasis;
    border: none !important;
  }

  [type="checkbox"],
  select,
  select option {
    background: rgb(35, 35, 35);
    color: $text-high-emphasis;
    border: none !important;
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #909090 14%,#909090 64%);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #606060 14%,#606060 64%);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  li a {
    color: $text-high-emphasis;
  }

  li.active a {
    color: $primary;
  }

  .card,
  .dropdown-menu,
  .modal-content,
  .modal-footer {
    background: $surface;
    border: none!important;
  }

  .callout,
  .list-group-item,
  .progress {
    background: $surface;
  }

  .dropdown-item {
    color: $text-medium-emphasis;

    :hover {
      color: $text-high-emphasis;
    }
  }

  .text-danger {
    color: $error;
  }

  .form-group button {
    color: $text-high-emphasis;
    border: none!important;
    background: $input;
  }

  [src="images/totp-countdown.png"] {
    display: none;
  }

  .table td,
  .table th {
    border-color: rgba(255, 255, 255, .07);
  }

  .list-group-item,
  .nav-item a {
    color: $text-medium-emphasis;
  }

  .card-header,
  .list-group-item.active,
  .nav-item.active a {
    color: $text-high-emphasis;
  }

  .list-group-item {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .dropdown-item-text,
  .table,
  .table-hover tbody tr:hover {
    color: $text-medium-emphasis;
  }

  .btn {
    border: none !important;
  }

  .close {
    color: #fff;
  }
}
