/*! ==UserStyle==
@name         npmjs.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.4
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/npmjs.com-dark.user.css
==/UserStyle== */
@-moz-document domain("npmjs.com") {
  $backgound: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;
  $none: none!important;
  $header: #1b1b1b !important;

  body {
    background: $backgound;
  }

  a[href] {
    color: $text;

    &:hover {
      color: $text-highlight;
      opacity: 1;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input {
    color: $text-highlight;
  }

  p {
    color: $text;

    code {
      background: #292929!important;
    }
  }

  header {
    border: $none;
    box-shadow: $none;

    div {
      background: $header;
    }

    & a svg {
      filter:invert(1);
    }

    & nav > ul > li {
      & > a {
        color: $text;
      }

      & > ul {
        background-color: $popup-background;

        & > li > a {
          background-color: $popup-background;
          color: $text;
        }
      }
    }
  }

  main {
    &:nth-child(2) > ul > li {
      &:nth-child(1):hover {
        background-color: rgba(255, 205, 58, 0.2);
      }
    }
  }
}
