/*! ==UserStyle==
@name         pugstats.herokuapp.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.1.2
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/pugstats.herokuapp.com-dark.user.css

@advanced dropdown highlight-position  "Highlight position" {
  No "No" <<<EOT
  EOT;
  Yes "Yes" <<<EOT
  color:  rgb(255,255,255)!important;
  EOT;
}

@advanced dropdown highlight-names  "Highlight names" {
  No "No" <<<EOT
  EOT;
  Yes "Yes" <<<EOT
  color:  rgb(255,255,255)!important;
  EOT;
}

@advanced dropdown highlight-elo  "Highlight elo" {
  No "No" <<<EOT
  EOT;
  Yes "Yes" <<<EOT
  color:  rgb(255,255,255)!important;
  EOT;
}

@advanced dropdown highlight-change  "Highlight change" {
  No "No" <<<EOT
  EOT;
  Yes "Yes" <<<EOT
  color:  rgb(255,255,255)!important;
  EOT;
}
==/UserStyle== */
@-moz-document domain("pugstats.herokuapp.com") {
  $backgound: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;
  $none: none!important;
  $sidebar: #191919!important;

  .app-container {
    border: $none;
  }

  .theme-switcher {
    display: $none;
  }

  .is-active,
  .router-link-active {
    color: $text-highlight;
  }

  ul > li > span:nth-child(1) {
    opacity: 1;
    /*![[highlight-position]]*/
  }

  ul > li > span:nth-child(2) {
    opacity: 1;
    /*![[highlight-names]]*/
  }

  ul > li > span:nth-child(3) {
    opacity: 1;
    /*![[highlight-elo]]*/
  }

  ul > li > span:nth-child(4) {
    opacity: 1;
    /*![[highlight-change]]*/
  }

  .app-header,
  .captain,
  .captains-list,
  .captains-list-legend-wrapper,
  .player,
  .players-list,
  .players-list-legend-wrapper,
  body {
    background: $backgound;
  }

  .captains-list-legend,
  .main-navigation,
  .players-list-legend {
    text-transform: capitalize;
  }

  *,
  a[href]:not(.router-link-active) {
    color: $text;
  }
}
