/*! ==UserStyle==
@name         themoviedb.org Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.2
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/themoviedb.org-dark.user.css
==/UserStyle== */
@-moz-document domain("themoviedb.org") {
  $backgound: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $shortcut-bar: #061e32!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;

  h1,
  h1 a,
  h2,
  h2 a,
  h3,
  h3 a,
  h4,
  h4 a,
  h5,
  h5 a,
  h6,
  h6 a {
    color: $text-highlight;
  }

  .k-link,
  a {
    color: $text;

    &:hover {
      color: $text-highlight;
    }
  }

  table.changes_with_aggregates span.language {
    color: $text;
    background-color: #000;
  }

  .k-grid,
  body,
  p,
  table.changes_with_aggregates.k-grid tbody tr:hover,
  ul.images div.info form label,
  ul.number_group a span.count {
    color: $text;
  }

  div.diff ul li.del {
    background-color: rgba(176, 0, 32, .4)!important;

    strong {
      background-color: rgba(176, 0, 32, .55)!important;
    }
    color: $text-highlight;
  }

  div.diff ul li.ins {
    background-color: rgba(76, 175, 80, .4)!important;

    strong {
      background-color: rgba(76, 175, 80, .55)!important;
    }
    color: $text-highlight;
  }

  .card,
  .k-grid,
  .white_column,
  .white_column ol.people li,
  div.discussion_container tr,
  div.media.collection_v4,
  div.media.movie_v4,
  div.media.person_v4,
  div.media.tv_v4,
  div.video.card div.info div.bg,
  main,
  ol.credits li,
  table.card.releases tr,
  ul.panel.with_counts > li:hover,
  ul.panel.with_counts li span,
  ul.panel.with_counts li:hover span {
    background-color: $backgound;
  }

  ul.panel.with_counts li:hover span {
    color: inherit!important;
  }

  div.scroller_wrap.should_fade:after {
    background-image: linear-gradient(to right, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 100%);
  }

  div.shortcut_bar_wrapper,
  ul#new_shortcut_bar {
    background-color: $shortcut-bar;
  }

  .k-popup {
    background-color: $popup-background;
  }

  .k-item:hover {
    background-color: $popup-hover;
  }

  div.content_wrapper div.leaderboard,
  div.settings_panel,
  div.video.card div.info,
  div.video.card div.info div.bg,
  div.video.card.default,
  ol.people li.card,
  section.inner_content ul.images li.card,
  section.inner_content ul.images.backdrops li.compact,
  table {
    border: none!important;
  }

  .card {
    box-shadow: none!important;
  }

  .glyphicons_v2 {
    filter: invert(1);
  }
}
