/*! ==UserStyle==
@name         themoviedb.org Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.1
@homepageURL  https://github.com/PhongGuy/css-styles
@updateURL    https://raw.githubusercontent.com/PhongGuy/css-styles/main/dist/themoviedb.org-dark.user.css
==/UserStyle== */
@-moz-document domain("themoviedb.org") {
  $backgound: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $shortcut-bar: #061e32!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-highlight;
  }

  .k-link,
  a {
    color: $text;

    &:hover {
      color: $text-highlight;
    }
  }

  p {
    color: $text;
  }

  body {
    color: $text;
  }

  .card,
  .white_column,
  .white_column ol.people li,
  div.discussion_container tr,
  div.media.collection_v4,
  div.media.movie_v4,
  div.media.person_v4,
  div.media.tv_v4,
  main {
    background-color: $backgound;
  }

  div.scroller_wrap.should_fade:after {
    background-image: linear-gradient(to right, rgba(18,18,18,0) 0%, rgba(18,18,18,1) 100%);
  }

  div.shortcut_bar_wrapper,
  ul#new_shortcut_bar {
    background-color: $shortcut-bar;
  }

  .k-popup {
    background-color: $popup-background;
  }

  .k-item:hover {
    background-color: $popup-hover;
  }

  ol.people li.card {
    border: none!important;
  }

  .card {
    box-shadow: none!important;
  }

  .glyphicons_v2 {
    filter: invert(1);
  }
}
