/*! ==UserStyle==
@name         w3schools.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.1
@homepageURL  https://github.com/PhongGuy/css-styles
@updateURL    https://raw.githubusercontent.com/PhongGuy/css-styles/main/dist/w3schools.com-dark.user.css
==/UserStyle== */
@-moz-document domain("w3schools.com") {
  $backgound: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;

  body {
    background: $backgound;
  }
}
