/*! ==UserStyle==
@name         w3schools.com Dark
@namespace    PhongGuy
@author       PhongGuy
@version      1.0.2
@homepageURL  https://github.com/PhongGuy/themes
@updateURL    https://raw.githubusercontent.com/PhongGuy/themes/main/dist/w3schools.com-dark.user.css
==/UserStyle== */
@-moz-document domain("w3schools.com") {
  $backgound: #121212!important;
  $text: rgb(170,170,170)!important;
  $text-highlight: rgb(255,255,255)!important;
  $popup-background: rgba(33,33,33,.98)!important;
  $popup-hover: rgba(255,255,255,.1)!important;
  $card-background: #1e1e1e!important;
  $sidebar: #191919!important;
  $none: none!important;
  $navbar: #1d1d1d!important;

  .w3-white,
  body {
    background: $backgound;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-highlight;
  }

  li,
  p {
    color: $text;
  }

  a[href] {
    color: $text;

    &.w3-btn,
    &:hover {
      color: $text-highlight;
    }
  }

  .top {
    background-color: $navbar;
    color: $text-highlight;
  }

  .w3-info {
    background-color: rgba(0, 255, 0, 0.08);
  }

  #w3-exerciseform {
    .exercisewindow {
      background-color: #1e1e1e;
      color: $text;
    }

    .exerciseprecontainer {
      background-color: #292c34;
    }
  }

  .w3-sidebar,
  .w3-sidebar .w3-light-grey {
    box-shadow: $none;
    background: $sidebar;

    a[href]:hover {
      background: $sidebar;
    }
  }

  .w3-card,
  .w3-card-2,
  .w3-example {
    background: $card-background;
  }

  .w3-green,
  .w3-green:hover {
    background-color: #4CAF50!important;
  }

  #main {
    width: 100%;

    .w3-light-grey {
      background: $backgound;
    }
  }

  #right {
    display: none;
  }

  .w3-code {
    background-color: rgb(40,44,52);
    color: white;
    border-left-color: rgb(40,44,52);
  }

  .w3-codeline {
    background-color: rgb(40,44,52);
    color: white;
    border-left-color: rgb(40,44,52);
  }

  .w3-example pre {
    background-color: rgb(40,44,52)!important;
    border-left-color: rgb(40,44,52);
  }

  .tagcolor {
    color: #88ccbb !important;
  }

  .tagnamecolor {
    color: #ff9999 !important;
  }

  .attributecolor {
    color: #c5a5c5 !important;
  }

  .attributevaluecolor {
    color: #88c999 !important;
  }

  .commentcolor {
    color: #999!important;
  }

  .cssselectorcolor {
    color: #ff9999 !important;
  }

  .csspropertycolor {
    color: #c5a5c5 !important;
  }

  .csspropertyvaluecolor {
    color: #88c999 !important;
  }

  .cssdelimitercolor {
    color: white!important;
  }

  .cssimportantcolor {
    color: #ff9999 !important;
  }

  .jscolor {
    color: white!important;
  }

  .jskeywordcolor {
    color: #c5a5c5 !important;
  }

  .jsstringcolor {
    color: #88c999 !important;
  }

  .jsnumbercolor {
    color: #80b6ff !important;
  }

  .jspropertycolor {
    color: white!important;
  }

  .javacolor {
    color: white!important;
  }

  .javakeywordcolor {
    color: #88c999 !important;
  }

  .javastringcolor {
    color: #88c999 !important;
  }

  .javanumbercolor {
    color: #88c999 !important;
  }

  .javapropertycolor {
    color: white!important;
  }

  .kotlincolor {
    color: white!important;
  }

  .kotlinkeywordcolor {
    color: #88c999 !important;
  }

  .kotlinstringcolor {
    color: #88c999 !important;
  }

  .kotlinnumbercolor {
    color: #88c999 !important;
  }

  .kotlinpropertycolor {
    color: white!important;
  }

  .phptagcolor {
    color: #999!important;
  }

  .phpcolor {
    color: white!important;
  }

  .phpkeywordcolor {
    color: #ff9999 !important;
  }

  .phpglobalcolor {
    color: white!important;
  }

  .phpstringcolor {
    color: #88c999 !important;
  }

  .phpnumbercolor {
    color: #88c999 !important;
  }

  .pythoncolor {
    color: white!important;
  }

  .pythonkeywordcolor {
    color: #ff9999 !important;
  }

  .pythonstringcolor {
    color: #88c999 !important;
  }

  .pythonnumbercolor {
    color: #88c999 !important;
  }

  .angularstatementcolor {
    color: #ff9999 !important;
  }

  .sqlcolor {
    color: white!important;
  }

  .sqlkeywordcolor {
    color: #80b6ff !important;
  }

  .sqlstringcolor {
    color: #88c999 !important;
  }
}
